.blog .blog-header {
    text-align: center;
    padding: 20px;
}

.blog-body {
    display: flex;
    justify-content: space-around;
}

.blog-body .articles {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.articles .blog-item {
    width: 100%;
    margin-bottom: 40px;
}

.articles .blog-item .blog-img img {
    width: 100%;
}

.articles .blog-item .blog-details {
    padding: 40px 30px 35px 35px;
    box-shadow: 0px 10px 20px 0px rgb(221 221 221 / 30%);
}

.articles .blog-item .blog-details h2 {
    font-weight: 600;
    margin-bottom: 15px;
}

.articles .blog-item .blog-details p {
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}

.articles .blog-item .blog-details .blog-info {
    display: flex;
}

.articles .blog-item .blog-details .blog-info a {
    margin-right: 20px;
}

.blog-body .body-right-side{
    width: 30%;
}
