.home {}

.introduction {
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-family: 'Segoe UI';

}

.section {
    padding-top: 20px;
    padding-bottom: 20px;
}

.diff_background {
    background: #f5f5f594;
}

.home .section_title {
    padding: 5px 0;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.introduction .profile-container {
    position: absolute;
    bottom: 0;
    right: 90px;
}

.introduction .profile {
    width: 300px;
    vertical-align: middle;
}

.introduction .intro-text {
    width: 60%;
}

.intro-text p {
    font-size: 20px;
    font-weight: 300;
}

.intro-text h1 {
    font-weight: 600;
    letter-spacing: 2px;
}

.intro-text h3 {
    font-weight: 400;
}

.intro-text .social_network {
    margin-top: 10px;
}

.intro-text .see-my-works {
    margin-top: 20px;
}



.skills_container {
    display: flex;
    flex-direction: column;
}

.skills_container h1 {
    font-size: 30px;
    font-weight: 400;
}

.skills_container .skills {
    margin-top: 20px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

/* case studies */
.case-studies {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hire-me-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

.hire-me-box .hire-me-text h2,
.hire-me-text p {
    margin-bottom: 15px;
    max-width: 450px;
    line-height: 30px;
}



@media (max-width: 768px) {
    .introduction .intro-text {
        width: 100%;
    }

    .introduction .profile-container .profile {
        display: none;
    }

}