.home {}

.introduction {
    height: max-content;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-family: 'Segoe UI';

}

.section {
    padding-top: 20px;
    padding-bottom: 20px;
}

.diff_background {
    background: #f5f5f594;
}

.home .section_title {
    padding: 5px 0;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}

.introduction .profile-container {
    position: absolute;
    bottom: 0;
    right: 90px;
}

.introduction .profile {
    width: 300px;
    vertical-align: middle;
}

.introduction .intro-text {
    width: 60%;
}

.intro-text p {
    font-size: 20px;
    font-weight: 300;
}

.intro-text h1 {
    font-weight: 600;
    letter-spacing: 2px;
}

.intro-text h3 {
    font-weight: 400;
}

.intro-text .social_network {
    margin-top: 10px;
}

.intro-text .see-my-works {
    margin-top: 20px;
}



.skills_container {
    display: flex;
    flex-direction: column;
}

.skills_container h1 {
    font-size: 30px;
    font-weight: 400;
}

.skills_container .skills {
    margin-top: 20px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}


/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume {}

.resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #45505b;
}

.resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #0563bb;
    position: relative;
}

.resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #0563bb;
    margin-bottom: 10px;
}

.resume .resume-item h5 {
    font-size: 16px;
    background: #f7f8f9;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
}

.resume .resume-item ul {
    padding-left: 20px;
    list-style: disc;
}

.resume .resume-item ul li {
    padding-bottom: 10px;
}

.resume .resume-item:last-child {
    padding-bottom: 0;
}

.resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #0563bb;
}





/* case studies */
.case-studies {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hire-me-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

.hire-me-box .hire-me-text h2,
.hire-me-text p {
    margin-bottom: 15px;
    max-width: 450px;
    line-height: 30px;
}



@media (max-width: 768px) {
    .introduction .intro-text {
        width: 100%;
    }

    .introduction .profile-container .profile {
        display: none;
    }

}