.works{
    display: flex;
    flex-direction: column;
}
.works .works-title{
    font-size: 35px;
    font-weight: 700;
    margin-bottom:20px;
    text-align: center;
}
.works .works-container{
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
}
.works .work{
    max-width: max-content;
    margin: 20px 10px;
    padding: 10px;
    border-radius: 10px;
    transition: box-shadow .3s ease-in-out;
}
.works .work-tool{
    margin-top: 10px;
}
.works .work-tool a{
    font-size: 14px;
}
.works .work:hover img{
    transform: scale(1.13);  
}
.works .work:hover{
    box-shadow: 1px 1px 10px 10px #dedede; 
}

.works .work .image-container{
    background-color: #3e3e3e;
    padding: 10px;
    box-shadow: 1px 1px 10px 8px #ddd;
    overflow: hidden;
}
.works .work .image-container img{
    width: 320px;
    height: 200px;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;
    transition: transform .3s;
    margin-bottom: -5px;
}
@media (max-width:1200px) {
    .works .work .image-container img{
        width: 300px;
    }
}
@media(max-width:992px){
    .works .work .image-container img{
        width: 250px;
        height: unset;
    }
}
@media(max-width:768px){
    .works .work .image-container img{
        width: 100%; 
        height: unset; 
    }
    .works .work .image-container{
        padding: 0;
    }
    .works .work-tool a{
        font-size: 14px;
    }
}

