.work-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.work-details .work-title{
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: 700;
}
.work-details .image-container{
    text-align: center;
}
.work-details .image-container img{
    width: 60%;
    margin: auto;
}
.details-text{
    width: 60%;
}

.details-text .detail-body h2{
    font-weight: 500;
    margin: 20px 0;
}
.details-text .detail-body p{
    font-size: 18px;
    font-weight: 300;
}
.work-links i{
    padding: 20px;
    font-size: 35px;
    color: #ed329d;
}
@media(max-width:768px){
    .details-text{
        width: 80%;
    }
    .work-details .image-container img{
        width: 80%;
        margin: auto;
    }
    .work-links i{
        padding: 20px;
        font-size: 25px;
        color: #ed329d;
    }
}