.header{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
}
.header .nav-brand{
    width: 120px;
}

.header nav a{
    margin-right: 30px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
}
.header nav a:hover{
    color: inherit;
}