.header{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1000;
}
.header .nav-brand{
    width: 60px;
}

.header nav span{
    box-sizing: border-box;
    padding:5px 15px;
    margin: 0 5px;
    text-decoration: none;
    color: #000;
    border: 1px solid #fff;
    font-weight: 500;
}
.header nav span:hover{
    border-color: #ddd;
    border-radius: 30px;
    border: 1px solid #ed329d;
    color: #ed329d;
    cursor: pointer;
    background-color: #fff;
    transition: background 0.4s ease-in-out;
}
.header nav .active{
    color: #ee14dc;
}

.header .hire-me{
    border-radius: 30px;
    border: 1px solid #ed329d;
    color: #fff;
    background-color: #ed329d;
    padding: 8px 14px;
    cursor: pointer;
    margin-right: 20px;
    transition: background 0.4s ease-in-out;
}


.header .hire-me:hover {
    background-color: #fff;
    color: #ed329d;
}
