
.home{
    
}
.introduction {
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom ,#fff,#f9f9f9);
    position: relative;
    padding:0 90px;
    font-family:'Segoe UI';

}
.introduction .intro-text{
    width: 50%; 
}
.intro-text p{
    font-size: 20px;
    font-weight: 300;
}
.intro-text h1{
    font-weight: 600;
    letter-spacing: 2px;
}
.intro-text h2{
    font-size: 20px;
    font-weight: 400;
}
.introduction .profile{
    width: 190px;
    margin-bottom: -20px;
}