
.home{
    
}
.introduction {
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom ,#fff,#f9f9f9);
    position: relative;
    font-family:'Segoe UI';

}
.introduction .intro-text{
    width: 50%; 
}
.intro-text p{
    font-size: 20px;
    font-weight: 300;
}
.intro-text h1{
    font-weight: 600;
    letter-spacing: 2px;
}
.intro-text h2{
    font-size: 20px;
    font-weight: 400;
}
.intro-text .see-my-works{
    background-color: #ed329d;
    padding:10px;
    font-size: 16px;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    border: none;
    border-radius: 30px;
    margin-top: 20px;
    cursor: pointer;
}
.intro-text .see-my-works:hover{
    background-color: #be277d;
}
.introduction .profile{
    width: 190px;
    margin-bottom: -20px;
}

.expert-in-container{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}
.expert-in-container h1{
    font-size: 30px;
    font-weight: 400;
}
.expert-in-container .experts{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

/* expert */
.expert-in-container .expert{
    display: flex;
    flex-direction: column;
    height: 200px;
    margin: 10px;
    justify-content: center;

}
.experts .expert i{
    font-size: 40px;
}
.experts .expert h2{
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
}
.experts .expert p{
    font-size: 14px;
    font-weight: 300;
}
.experts .expert a{
    margin-top:25px;
}

/* case studies */
.case-studies{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.case-studies h2{
    font-size: 30px;
    font-weight: 400;
}

.case-studies .slider{
    padding: 20px 30px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.case-studies .slider i{
    font-size: 30px;
}