.slider{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
}
.slider .slider-image{
    max-width: 500px;
    object-fit: contain;
    margin: 0 30px;
}
.slider .slider-text{
    margin-top: 30px;
    text-align: center;
}

.case-studies-container{
    padding: 20px 30px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}
.case-studies-container i{
    font-size: 30px;
    cursor: pointer;
    border-radius: 50%;
    padding:5px 10px;
}
.case-studies-container i:hover{
    background-color: #ddd;

}

@media(max-width:768px){
    .case-studies-container{
        padding: 20px 10px;
        width: 100%;
    
    }
    
    .slider .slider-image{
        max-width: 90%;
        margin: 0;
    }
}