*{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  font-weight: 500;
  color: inherit;
}
h2{
  font-size: 30px;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.left-to-right{
  animation-name: left-to-right;
  animation-duration: .4s;
  animation-timing-function: cubic-bezier(0.55, 0.01, 0.12, 0.97);
}
.right-to-left{
  animation-name: right-to-left;
  animation-duration: .4s;
  animation-timing-function: cubic-bezier(0.55, 0.01, 0.12, 0.97);
}

@keyframes left-to-right{
  from{
    transform: translateX(-50vw);
  }
  to{
    transform: translateX(0);
  }
}
@keyframes right-to-left{
  from{
    transform: translateX(50vw);
  }
  to{
    transform: translateX(0);
  }
}
